
data/._BTC-USD.csv
data/._data_creating.m
data/._DOGE-USD.csv
data/._ETH-USD.csv
HODMD/._DMDd_SIADS.m
HOSVD/array/._svdtrunc.m
Ref_Papers/._Application_STKD_1.pdf
Ref_Papers/._STKD.pdf
Notebooks/.ipynb_checkpoints/SnapShot-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Ref_Papers/._Application_STKD_1.pdf
Ref_Papers/._STKD.pdf
scripts/._CalculateDMDdSdT.m
scripts/._DMD1_STKD.m
scripts/._DMDd_STKD.m
scripts/._Exis.mat
scripts/._Reconst_STKD.m
scripts/._STKD_main_ToyModel.m
scripts/._Time.mat
scripts/._V.mat
Ref_Papers/._Application_STKD_1.pdf
Ref_Papers/._STKD.pdf
Ref_Papers/._Application_STKD_1.pdf
Ref_Papers/._STKD.pdf
data/._BTC-USD_weekly-06_02-24_04.csv
data/._BTC-USD_daily-06_02-24_04.csv
data/._Bitcoin_tweets.csv
