
data/._BTC-USD.csv
data/._data_creating.m
data/._DOGE-USD.csv
data/._ETH-USD.csv
HODMD/._DMDd_SIADS.m
HOSVD/array/._svdtrunc.m
Ref_Papers/._Application_STKD_1.pdf
Ref_Papers/._STKD.pdf
Notebooks/.ipynb_checkpoints/SnapShot-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Untitled-checkpoint.ipynb
